body{
    max-width: 1920px;
    padding: 100px 70px;
}
.head-pic{
    width: 900px;
    height: 500px;
    object-fit: contain;
}
.head-pic img{
    width: 100%;
}
.register{
    max-width: 1236px;
    margin-top: 20px;
    /* margin: 20px auto; */
}
form label, .title, .reg, .comment textarea, .sign{
    color: #707070;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Segoe UI';
    margin: 20px 0 30px 0;
}
.sign{
    width: 100%;
    margin-top: 20px;
    height: 60px;
    border-radius: 10px;
}
input:focus, textarea:focus{
    border: 3px grey solid;
    outline: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.tick{
    height: 32px;
    width: 32px;
    vertical-align: middle;
}
.column{
    padding-left: 15px;
    margin-right: 100px;
}
.comment{
    height: 185px;
    width: 100%;
    margin-top: 40px;
}
.comment textarea{
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 10px;
}
.but{
    margin-top: 40px;
}
.send{
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: bold;
    background-color: #103ADA;
    color: white;
    border-radius: 10px;
    /* padding: 10px 70px; */
}
.send a{
    width: 100%;
    text-decoration: none;
    color: inherit;
    padding: 0 70px;
}
.send:hover{
    background-color: darkmagenta;
    color: inherit;
}